{% extends 'base.html' %}

{% block content %}
<form method="POST" action="{% url 'main:change_bookmark_name' object.id %}">
    {% csrf_token %}
    <input type="text" name="name" value="{{ object }}" required="" id="id_name">
    <button>change name</button>
</form>
<br>
<form method="POST" action="{% url 'main:change_folder' object.id %}">
    {% csrf_token %}
    <select name="folder">
        {% for folder in user.folder_set.all %}
        <option value="{{ folder }}">{{ folder }}</option>
        {% endfor %}
    </select>
    <button>change folder</button>
</form>
<br>
<button><a href="{% url 'main:delete_bookmark' object.id %}">delete</a></button>
{% endblock %}