{% extends 'base.html' %}

{% block content %}
<fieldset>
    <legend>edit</legend>
    <form method="post" action="{% url 'main:change_folder_name' folder.id %}">
        {% csrf_token %}
       <input type="text" name='name' value="{{ folder }}" id="id_name" maxlength="30"> 
        <button>change name</button>
    </form>
    <br>
    <form method="POST" action="{% url 'main:delete_folder' folder.id %}">
        {% csrf_token %}
        <button>delete folder</button>
    </form>
</fieldset>
<p>{{ folder }}</p>
<form method="POST" action="{% url 'main:folder_detail' folder.id %}">
    {% csrf_token %}
    {% for field in bookmark_form %}
        {{ field.label }}
        {{ field }}
        {% if field.errors %}
            {% for error in field.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
    {% endfor %}
    <button name="add_bookmark">add bookmark</button>
    {% if bookmark_form.non_field_errors %}
        {% for error in bookmark_form.non_field_errors %}
            <p>{{ error }}</p>
        {% endfor %} 
    {% endif %}
</form>
{% for bookmark in folder.bookmark_set.all %}
    <div class="bookmark">
        <a href="{{ bookmark.url }}">{{ bookmark }}</a>
        <button><a href="{% url 'main:edit_bookmark' bookmark.id %}">edit</a></button>
    </div>
{% endfor %}
{% endblock %}