{% extends 'base.html' %}

{% block content %}
<p>{{ folder }}</p>
<form method="post" action="{% url 'main:change_folder_name' folder.id %}">
    {% csrf_token %}
   <input type="text" name='name' value="{{ folder }}" id="id_name"> 
    <button>change name</button>
</form>
<br>
<button><a href="{% url 'main:delete_folder' folder.id %}">delete folder</a></button>
<br>
<br>
<form method="POST" action="{% url 'main:add_bookmark' folder.id %}">
    {% csrf_token %}
    {{ bookmark_form }}
    <button>add bookmark</button>
</form>
{% for bookmark in folder.bookmark_set.all %}
    <p><a href="{{ bookmark.url }}">{{ bookmark }}</a></p>
    <p><a href="{% url 'main:editbookmark' bookmark.id %}">edit</a></p>
{% endfor %}
{% endblock %}