{% extends 'base.html' %}
{% load static %}

{% block content %}
<h3>{{ user }}</h3>
<div class="memo">
    <form method="POST" action="{% url 'main:update_memo' user.memo.id %}">
        {% csrf_token %}
        {{ memo_form }}
        <button>update</button>
    </form>
</div>
<br>
<div class="todos">
    <fieldset>
        <form method="POST" action="{% url 'main:add_todo' %}">
            {% csrf_token %}
            {{ todo_form }}
            <button>add a task</button>
        </form>
        <br>
        <fieldset>
            {% for overdue in overdues %}
                <form method="POST" action="{% url 'main:switch_done' overdue.id %}">
                    {% csrf_token %}
                        <input type="checkbox" name="done" id="id_done">
                        <label for="id_done">{{ overdue }}({{ overdue.deadline }})</label>    
                        <button>update</button> 
                </form>
            {% endfor %}
            <hr>
            {% for todo in todos %}
                <form method="POST" action="{% url 'main:switch_done' todo.id %}">
                    {% csrf_token %}
                    <div>
                        {% if todo.done %}
                        <input type="checkbox" name="done" id="id_done" checked>
                        {% else %}
                        <input type="checkbox" name="done" id="id_done">
                        {% endif %}
                        <label for="id_done">{{ todo }}({{ todo.deadline }})</label>    
                        <button>update</button> 
                    </div>
                </form>
            {% endfor %}
        </fieldset>
    </fieldset>
</div>
{% endblock %}