{% extends 'base.html' %}

{% block content %}
<p>Todo List</p>
{% for todo in user.todo_set.all %}
    <div class="todo">
        <form method="POST" action="{% url 'main:change_done' todo.id %}">
            {% csrf_token %}
            <div>
                {% if todo.done %}
                <input type="checkbox" name="done" id="id_done" checked>
                {% else %}
                <input type="checkbox" name="done" id="id_done">
                {% endif %}
                <label for="id_done">{{ todo }}({{ todo.deadline }})</label>    
                <button>update</button> 
            </div>
        </form>
        <button class="edit"><a href="{% url 'main:edit_todo' todo.pk %}">edit</a></button>
    </div>
{% endfor %}
{% endblock %}