{% extends 'base.html' %}

{% block content %}
{% for todo in todo_list %}
    <div class="todo">
        <form method="POST" action="{% url 'main:change_done' todo.id %}">
            {% csrf_token %}
            <div>
                {% if todo.done %}
                <input type="checkbox" name="is_done_{{ todo.id }}" id="is_done_{{ todo.id }}" checked>
                {% else %}
                <input type="checkbox" name="is_done_{{ todo.id }}" id="is_done_{{ todo.id }}">
                {% endif %}
                <label for="is_done_{{ todo.id }}">{{ todo }}({{ todo.deadline }})</label>    
                <button>update</button> 
            </div>
        </form>
        <button class="edit"><a href="{% url 'main:todo_edit' todo.pk %}">edit</a></button>
    </div>
{% endfor %}
{% endblock %}