{% load static %}

<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'main/style.css' %}">
<head>
    <meta charset="UTF-8">
    <title>mLearning</title>
</head>
<body>
    <header>
        <h1 class="head-element"><a href="{% url 'main:index' %}">mLearning</a></h1>
        <h2 class="head-element"><a href="{% url 'main:folders' %}">bookmark folders</a></h2>
        <h2 class="head-element"><a href="{% url 'main:todos' %}">todos</a></h2>
        <h2 class="head-element"><a href="{% url 'accounts:account' %}">account</a></h2>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>
